{% extends "WebBundle:Default:layout.html.twig" %}

{% block title %}{{'generic.title'|trans}}{% endblock %}

{% block body %}
<h1>{{contact.name}}</h1>

<h2>{{'contacts.card.civil-status'|trans}}</h2>
<dl>
    {% if contact.firstname %}
        <dt>{{'contacts.card.firstname'|trans}}</dt>
        <dd>{{contact.firstname}}</dd>
    {% endif %}
    {% if contact.lastname %}
        <dt>{{'contacts.card.lastname'|trans}}</dt>
        <dd>{{contact.lastname}}</dd>
    {% endif %}
    {% if contact.gender %}
        <dt>{{'contacts.card.gender'|trans}}</dt>
        <dd>{{contact.gender}}</dd>
    {% endif %}
    {% if contact.birthdate %}
        <dt>{{'contacts.card.birthdate'|trans}}</dt>
        <dd>{{contact.birthdate|date("d/m/Y")}}</dd>
    {% endif %}
</dl>

<h2>{{'contacts.card.miscellaneous'|trans}}</h2>
<dl>
    {% if contact.position %}
        <dt>{{'contacts.card.position'|trans}}</dt>
        <dd>{{contact.position}}</dd>
    {% endif %}
    {% if contact.company %}
        <dt>{{'contacts.card.company'|trans}}</dt>
        <dd>{{contact.company}}</dd>
    {% endif %}
    {% if contact.tags %}
        <dt>{{'contacts.card.tags'|trans}}</dt>
        <dd>{{contact.tags|join(', ')}}</dd>
    {% endif %}
    <dt>{{'contacts.card.creation-date'|trans}}</dt>
    <dd>{{contact.creationDate|date('d/m/Y')}}</dd>
</dl>

{{render(controller('WebBundle:EmailAddress:contactEntries', {'contact': contact.id}))}}
{{render(controller('WebBundle:Phone:contactEntries', {'contact': contact.id}))}}
{{render(controller('WebBundle:Address:contactEntries', {'contactID': contact.id}))}}

<a href="{{path('app_contact_edit', {'contact': contact.id})}}">{{'generic.edit'|trans}}</a>

{% endblock %}
