{% extends "WebBundle:Default:layout.html.twig" %}

{% block title %}Create new contact{% endblock %}

{% block body %}
<h1>Edit {{contact.name}}</h1>

{{form_start(form)}}
{{form_widget(form)}}
{{form_end(form)}}

<a href="{{path('app_contact', {'contact': contact.id})}}">Get back to the card</a>
{% endblock %}
