{% extends "WebBundle:Default:layout.html.twig" %}

{% block body %}
<h1>{{'contacts.actions.edit'|trans}} {{contact.name}}</h1>

{{form_start(form)}}
{{form_widget(form)}}
{{form_end(form)}}

<a href="{{path('app_contact', {'contactID': contact.id})}}">
    {{'generic.back'|trans}}
</a>
{% endblock %}
