<header class="banner" id="banner">
    <nav class="banner__nav">
        <a class="banner__nav-link" href="{{path('app_dashboard')}}">Dashboard</a>
        <a class="banner__nav-link" href="{{path('app_platform_dashboard')}}">Platform</a>
        <a class="banner__nav-link" href="{{path('app_contacts')}}">Contacts</a>
    </nav>

    <div class="usernav">
        <button class="usernav__button">
            <img class="usernav__avatar" src="{{user.avatar}}" alt="Avatar de {{user.name}}">
        </button>
    </div>
</header>
