<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        <link rel="stylesheet" media="all" href="{{ asset('css/styles.min.css') }}">
    </head>
    <body>
        {{ render(controller('WebBundle:Default:SkipLinks')) }}
        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="flash-notice">
                {{ flash_message }}
            </div>
        {% endfor %}
        {{ render(controller('WebBundle:Default:Header')) }}
        <main id="content">
            {% block body %}{% endblock %}
        </main>
        {{ render(controller('WebBundle:Default:Footer')) }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
