<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{'generic.head-title'|trans}}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <form action="{{ path('app_login_check') }}" method="POST">
            {% if error %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endif %}

            <div>
                <label for="email">{{'users.fields.email'|trans}}</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="abc@domain.ext">
            </div>
            <div>
                <label for="password">{{'users.fields.password'|trans}}</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Password">
            </div>
            <button type="submit">{{'users.fields.submit'|trans}}</button>
        </form>
    </body>
</html>
