{% extends "WebBundle:Default:layout.html.twig" %}

{% block title %}Platform dashboard{% endblock %}

{% block body %}
<a href="{{ path('app_dashboard') }}">Go back to the dashboard</a>
<p>
    Welcome {{ user.username }},
</p>
<h1>{{ platform.name }}</h1>

{% if 'ROLE_MANAGER' in subscription.roles|keys %}
    <h2>Users ({{ platform.subscriptions|length }}) of this platform</h2>
    <ul>
        {% for subscription in platform.subscriptions %}
            <li>
                {{ subscription.user.username }}
            </li>
        {% endfor %}
        <li>
            <a href="{{path('app_platform_adduser')}}">Inviter un nouvel utilisateur</a>
        </li>
    </ul>
{% endif %}

{% if 'ROLE_ADMIN' in subscription.roles|keys %}
    <h2>Admin actions</h2>
    <ul>
        <li>
            <a href="#">Delete this platform</a>
        </li>
    </ul>
{% endif %}
{% endblock %}
